
# PlanAhead Generated physical constraints 

NET "Data_In_Top[9]" LOC = P1;
NET "Data_In_Top[8]" LOC = P2;
NET "Data_In_Top[7]" LOC = P11;
NET "Data_In_Top[6]" LOC = P5;
NET "Data_In_Top[5]" LOC = P7;
NET "Data_In_Top[4]" LOC = P12;
NET "Data_In_Top[3]" LOC = P9;
NET "Data_In_Top[2]" LOC = P6;
NET "Data_In_Top[1]" LOC = P8;
NET "Data_In_Top[0]" LOC = P10;
NET "Data_out_TOP[2]" LOC = P16;
NET "Data_out_TOP[3]" LOC = P26;
NET "Data_out_TOP[4]" LOC = P22;
NET "Data_out_TOP[5]" LOC = P15;
NET "Data_out_TOP[6]" LOC = P17;
NET "Data_out_TOP[7]" LOC = P14;
NET "Data_out_TOP[8]" LOC = P23;
NET "Data_out_TOP[9]" LOC = P21;
NET "Data_out_TOP[0]" LOC = P27;
NET "Data_out_TOP[1]" LOC = P24;
NET "Read_Address_Top[5]" LOC = P44;
NET "Read_Address_Top[1]" LOC = P38;
NET "Read_Address_Top[6]" LOC = P70;
NET "Read_Address_Top[2]" LOC = P65;
NET "Read_Address_Top[3]" LOC = P60;
NET "Read_Address_Top[0]" LOC = P48;
NET "Read_Address_Top[4]" LOC = P51;
NET "Write_Address_Top[3]" LOC = P80;
NET "Write_Address_Top[0]" LOC = P85;
NET "Write_Address_Top[1]" LOC = P82;
NET "Write_Address_Top[2]" LOC = P81;
NET "Write_Address_Top[6]" LOC = P83;
NET "Write_Address_Top[4]" LOC = P87;
NET "Write_Address_Top[5]" LOC = P84;
NET "CLock" LOC = P132;
NET "WE_Top" LOC = P141;

# PlanAhead Generated IO constraints 

NET "Data_In_Top[9]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[8]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[7]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[6]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[5]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[4]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[3]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[2]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[1]" IOSTANDARD = LVCMOS33;
NET "Data_In_Top[0]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[9]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[8]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[7]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[6]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[5]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[4]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[3]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[2]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[1]" IOSTANDARD = LVCMOS33;
NET "Data_out_TOP[0]" IOSTANDARD = LVCMOS33;
NET "Read_Address_Top[6]" IOSTANDARD = LVCMOS33;
NET "Read_Address_Top[5]" IOSTANDARD = LVCMOS33;
NET "Read_Address_Top[4]" IOSTANDARD = LVCMOS33;
NET "Read_Address_Top[3]" IOSTANDARD = LVCMOS33;
NET "Read_Address_Top[2]" IOSTANDARD = LVCMOS33;
NET "Read_Address_Top[1]" IOSTANDARD = LVCMOS33;
NET "Read_Address_Top[0]" IOSTANDARD = LVCMOS33;
NET "Write_Address_Top[6]" IOSTANDARD = LVCMOS33;
NET "Write_Address_Top[5]" IOSTANDARD = LVCMOS33;
NET "Write_Address_Top[4]" IOSTANDARD = LVCMOS33;
NET "Write_Address_Top[3]" IOSTANDARD = LVCMOS33;
NET "Write_Address_Top[2]" IOSTANDARD = LVCMOS33;
NET "Write_Address_Top[1]" IOSTANDARD = LVCMOS33;
NET "Write_Address_Top[0]" IOSTANDARD = LVCMOS33;
NET "CLock" IOSTANDARD = LVCMOS33;
